<?xml version="1.0"?>
<launch>

  <!-- Standalone launcher to visualize the robot model. -->
  <include file="$(find khan_description)/launch/description.launch">
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find khan_viz)/rviz/model.rviz" />

</launch>
